.mainCard {
    border-radius: 10px;
    width: 220px;
    height: 220px;
    position: relative;
    color: #fff;
    background-position: top right 14px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    right: 20px;
    top: -8px;
    opacity: .5;
}

.subCard {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1d204b;
}

.mainCard:hover .subCard {
    background-color: #34397b;
    cursor: pointer;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
}

.cardHeader i {
    font-size: 20px;
}

.cardHeader h2 {
    font-weight: 500;
    font-size: 18px;
}

.h2 {
    font-size: 50px;
    font-weight: 400;
}

.subHour {
    font-size: 15px;
    opacity: .8;
    color: #8386bb;
}

i {
    cursor: pointer;
    opacity: .5;
}

i:hover {
    opacity: 1;
}

@media (max-width: 900px) {
    .mainCard {
        height: 120px;
        min-width: 250px;
    }

    .backgroundImage {
        transform: scale(.8);
        top: -10px;
        right: 10px;
    }

    .subCard {
        top: 25%;
    }

    .cardHeader h3 {
        font-size: 12px;
    }

    .hours {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: .3rem;
    }

    .h2 {
        font-size: 25px;
    }
    
    .subHour {
        font-size: 10px;
    }
}