.mainCard {
    min-width: 220px;
    border-radius: 10px;
    color: #fff;
    background-color: brown;
    position: relative;
    min-height: 400px;
}

.profileCard {
    position: absolute;
    height: 65%;
    width: 100%;
    border-radius: 10px;
    background-color: blueviolet;
    padding: 1.5rem;
}

.profileCard p {
    opacity: .8;
    font-size: 15px;
    margin-bottom: .3rem;
}

.profileCard h1 {
    font-weight: 400;
}

.badges {
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.badges p {
    cursor: pointer;
    opacity: .5;
}

.badges p:hover {
    opacity: 1;
}

.userImage {
    width: 75px;
    border: 3px solid white;
    border-radius: 50%;
    margin: 1rem 0 2rem 0;
}

@media (max-width: 900px) {
    .mainCard {
        height: 150px;
        min-width: 250px;
        min-height: auto;
    }

    .profileCard {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .profileCard p {
        opacity: .8;
        font-size: 11px;
        margin-bottom: .3rem;
    }
    
    .profileCard h1 {
        font-size: 17px;
        white-space: nowrap;
    }

    .userImage {
        width: 50px;
        margin-right: .5rem;
        margin-top: 2rem;
    }
    .badges {
        flex-direction: row;
        font-size: 15px;
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .badges > p + p {
        margin-left: .5rem;
    }
}