.container {
  display: flex;
  max-width: 960px;
  justify-content: space-between;
}

.container-sub-2 {
  flex-basis: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}